<section class="bg-success text-white p-5 border">
  <h2 #ele>Hello Portfolio Component</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur tenetur nostrum odit
    asperiores delectus velit quisquam voluptatem sapiente laboriosam adipisci, repellat nisi
    laudantium, cumque nobis dicta totam molestias! Neque aperiam laudantium eligendi. Repudiandae
    eveniet assumenda repellendus debitis, iste at repellat vero ex voluptate incidunt aliquid
    mollitia error alias voluptas asperiores aspernatur natus quam. Id dolor quis inventore quod ea!
    Nam quae, ullam asperiores porro facere saepe autem! Sint, architecto repudiandae! Libero
    repellat accusamus quidem beatae fugiat sit velit aspernatur odio excepturi maxime aliquid, quod
    dolorem. Minus rerum pariatur harum ducimus doloribus, autem vel accusamus, obcaecati quos atque
    fuga iure temporibus?
  </p>
  <span> {{ x }} </span>
</section>
