<section class="bg-info p-5 border">
  <h2>Hello About Component</h2>

  <ul>
    @for (friend of friendsAbout; track $index) {
    <li>{{ friend }}</li>
    }
  </ul>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis nostrum consequuntur
    officia fuga ipsam porro incidunt provident distinctio nisi iusto voluptates ducimus assumenda
    voluptatibus iste, temporibus repudiandae ex doloremque vitae. Non maxime, quisquam commodi
    voluptatem nisi repellat deserunt nihil voluptates est, laboriosam et ratione. Aut minus nisi
    sed animi facere nemo recusandae, qui repudiandae quis vitae quae, doloremque ab perspiciatis
    ipsam provident aspernatur earum enim libero vero? Nemo soluta exercitationem vel sequi, neque
    natus commodi, ex fugit nihil aspernatur nobis tempora? Quia reprehenderit repudiandae laborum
    minima, possimus omnis ducimus inventore, porro deleniti nihil molestias accusamus
    necessitatibus reiciendis, quo ipsa ullam repellendus. Voluptatum incidunt accusamus odit
    corrupti hic expedita maiores velit, quam ratione aliquid quidem, doloribus asperiores
    voluptatem explicabo reiciendis eligendi, doloremque exercitationem officiis sunt perferendis.
    Impedit voluptatibus dignissimos minus sit, dolores harum libero expedita amet tenetur cumque
    consequatur iusto reprehenderit ratione voluptas. Quaerat deserunt amet voluptatum odio incidunt
    nemo mollitia dolor laborum, ducimus obcaecati! Architecto omnis possimus iure labore quaerat
    delectus exercitationem odio velit in, voluptas nostrum, non aut ut sed ducimus, maxime
    repudiandae illum quam ex repellat hic. Voluptatum fuga maiores sunt officiis, ad eum sequi est
    impedit alias sapiente quisquam. Doloribus labore exercitationem, odit facilis veritatis
    provident rerum itaque, pariatur fuga id aliquam iure ducimus quidem totam fugiat aperiam cum,
    cumque ex magnam! Aperiam autem quia voluptatum error? Quam sunt nesciunt dolore, quas animi id,
    autem numquam similique perspiciatis nulla reprehenderit facere perferendis nobis maxime a in
    harum, nihil repellendus. Soluta inventore, illo magnam tempore eius incidunt quaerat numquam
    dolore in consequatur labore fuga repellendus vitae cum dicta doloribus pariatur aperiam
    recusandae dignissimos odit aliquid quisquam excepturi temporibus. Ipsum deleniti, officia
    consequuntur necessitatibus aliquid voluptatum culpa debitis repudiandae quidem sequi nostrum
    quo blanditiis laboriosam voluptatibus sunt soluta, modi sit sed. Quasi, delectus deleniti.
    Tenetur rerum eius temporibus possimus necessitatibus. Velit fugit sapiente modi sint, nostrum
    totam nihil alias rerum sit, ipsa perspiciatis beatae facere nisi! Debitis, minima accusantium
    doloremque mollitia, aspernatur beatae numquam odio animi porro suscipit blanditiis nisi saepe,
    minus eum laboriosam quibusdam nobis velit aliquam! Laborum autem aut cum saepe odit itaque quos
    nihil. Eveniet eum est labore necessitatibus, iste modi eaque perspiciatis quidem quaerat quod
    qui dolorem accusantium doloribus quisquam cumque eligendi itaque obcaecati magni quo molestiae!
    Neque at ab unde voluptatum, maxime rerum debitis quod recusandae tempore voluptatem ad numquam
    autem totam itaque tempora illo. Numquam doloribus nihil laudantium quaerat unde iusto harum, et
    vel possimus aliquid molestiae eligendi nam cumque maiores aperiam rerum tempore excepturi,
    incidunt sapiente eos dolorum odit nesciunt aut temporibus! Eaque iure deserunt cupiditate
    consequuntur saepe. Quibusdam, voluptatibus ratione, beatae enim tempore quidem nisi labore id
    repudiandae dolore quas libero! Beatae ut nisi perferendis, odio consequuntur quos aspernatur
    quaerat, tenetur temporibus ipsa aperiam culpa ea quis eius cupiditate quod obcaecati sequi
    incidunt? Modi, ab sit voluptates voluptate suscipit, vero temporibus esse nihil quidem quo quae
    quasi, repudiandae non velit? Possimus, similique distinctio nisi consequuntur quibusdam beatae
    nihil. Deserunt obcaecati sed recusandae ab facilis minima nemo voluptates molestias quasi
    pariatur?
  </p>
</section>
