@if (flag) {
<div class="bg-danger p-5 border-2 shadow rounded position-fixed top-50 start-50 translate-middle">
  <h2>Modal Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere dolores asperiores nostrum
    laborum odio, blanditiis dignissimos ea est molestiae, sapiente neque repudiandae vero ratione
    pariatur sunt quas vel ut iusto? Harum atque totam corrupti corporis consectetur eius
    consequatur, temporibus quae assumenda voluptate dolor cupiditate architecto provident
    blanditiis fugit dicta iure minima exercitationem repellendus? Mollitia, optio ea possimus unde,
    beatae error maxime quis soluta omnis rem corporis, esse veritatis velit et consectetur! Fugit
    voluptatem odio dolorum, rerum laborum quas minus id molestias est eius at fugiat quam eligendi
    debitis alias repudiandae cupiditate aut reprehenderit molestiae eos! Accusantium assumenda
    numquam omnis.
  </p>
</div>
}
