<section class="bg-danger p-5 border">
  <h2>Hello Home Component</h2>

  <ul>
    @for (friend of friendsHome; track $index) {
    <li>{{ friend }}</li>
    }
  </ul>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio molestiae autem sapiente
    quibusdam esse quasi nam corrupti, et consequuntur libero eligendi cum inventore praesentium
    numquam rerum, repellendus rem temporibus nulla, sunt error minus. Distinctio earum suscipit
    sequi voluptas aspernatur magni obcaecati laborum soluta culpa natus aliquid in ipsum quis dicta
    ut cupiditate vitae repellat sed, consequatur impedit tempore exercitationem. Atque
    exercitationem tempore, nobis architecto in perspiciatis quibusdam provident velit. Mollitia
    recusandae saepe totam eveniet sequi nostrum quos fugit commodi? Obcaecati eum earum eaque
    consequuntur laboriosam. Quia, quidem ratione numquam ut unde necessitatibus aut, eveniet eius
    eaque accusantium reiciendis quasi corporis hic rerum, dignissimos aspernatur possimus quisquam
    mollitia esse tenetur? Explicabo ab, alias tenetur assumenda, quod et adipisci maiores
    consectetur nihil, dolorem vero. Esse eius iure sit possimus explicabo earum quod numquam
    voluptas expedita eligendi? Quisquam officia, tenetur magni doloribus similique nostrum alias,
    voluptatum, fugiat ab quas delectus consequuntur quibusdam voluptatem! Ullam pariatur, saepe
    ducimus odio cumque sint nobis provident quas nesciunt doloremque sit alias in qui reprehenderit
    dicta consequatur tempora obcaecati blanditiis facilis! Necessitatibus, sit reprehenderit
    cupiditate inventore ipsa eveniet perferendis dolores ut enim tempore rerum aut voluptas cum
    neque libero numquam. Iste totam molestias distinctio, exercitationem, minus dicta, obcaecati
    modi amet nihil voluptatum quae expedita optio minima placeat nesciunt nulla ea velit deleniti?
    Accusantium unde repudiandae, eligendi quidem eveniet sed adipisci dignissimos numquam, dolorem
    quae explicabo suscipit rem quaerat consequuntur placeat. Maiores ut quibusdam fugiat eligendi
    delectus, incidunt provident consequuntur, voluptatem cum unde modi debitis repudiandae sapiente
    vero repellendus, ullam velit sed earum veritatis. Dolores sit nobis tempora. Repellat corporis
    perferendis praesentium accusamus rem aut necessitatibus, facere officiis mollitia animi nemo
    impedit rerum possimus doloremque maiores nulla optio consequatur voluptatibus vero dolores.
    Harum incidunt alias ea optio quaerat facere consectetur assumenda eligendi nostrum,
    consequuntur sapiente deserunt fugit odio enim voluptatum animi, omnis aperiam placeat ipsam non
    reprehenderit tempora quos. Cum tempora in reiciendis fugit ipsum quasi deleniti voluptas autem
    delectus ex ad a ullam, quibusdam velit explicabo soluta fuga. Veniam illum minima sed, mollitia
    praesentium fuga maxime labore. Praesentium sequi, eum maiores quidem ipsam dolores natus
    repellat error officia autem. Tempora ea odio recusandae dolore aliquid, itaque vero incidunt
    minus, quod, aperiam eveniet. Assumenda voluptatum itaque eaque explicabo. Aperiam atque natus
    ab mollitia nulla, eum repellat nam ea velit tempora distinctio soluta in? Ea, error officia sed
    fuga vitae magnam iure, veniam corrupti iste aut ratione repellendus sapiente maiores aliquam
    cupiditate dolor? Temporibus saepe neque laborum? Ipsum sit obcaecati non unde nam? Saepe nisi
    perspiciatis aperiam esse, iusto ipsam excepturi similique repellendus distinctio corrupti
    quisquam laboriosam voluptates, nemo dolor repudiandae ipsa beatae molestias, tenetur
    blanditiis. Officia modi doloremque laboriosam ab. Excepturi animi nobis perferendis! Reiciendis
    explicabo vero ab. In voluptas recusandae quia soluta neque animi pariatur exercitationem
    tenetur sapiente suscipit placeat architecto maxime ea officia totam obcaecati cupiditate,
    molestias qui voluptatum consectetur! Corrupti, repellendus maiores sint at harum cumque eum
    nostrum! Vero earum labore illo rem, harum fugit repellat a, nesciunt exercitationem, laborum
    blanditiis quo quibusdam? Laborum, ipsa.
  </p>
</section>
